{include file="index/header" /}
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8">
						<div class="card">
							<div class="card-header" data-background-color="purple">
								<h4 class="title">登陆界面</h4>
								<p class="category">欢迎来到点我点餐系统</p>
							</div>
							<div class="card-content">
								<form action="{:url('User/login')}" method="post">
									<div class="col-md-3">
										<div class="form-group label-floating">
											<label class="control-label">用户名</label>
											<input type="text" class="form-control" name="userAccount">
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group label-floating">
												<label class="control-label">密码</label>
												<input type="password" class="form-control" name="userPass">
											</div>
										</div>
									</div>
									<div class="row" style="margin-left: 0.2%">
										<div class="col-md-3">
											<div class="form-group label-floating">
												<label class="control-label">验证码</label>
												<input type="text" class="form-control" name="verify" data-error="验证码错误" required>
											</div>
										</div>
										<div class="col-md-3">
											<img  class="verifyimg reloadverify" src="{:url('User/verify')}" alt="" onclick="reflash2()">
										</div>
									</div>


									<input type="submit" class="btn btn-primary pull-right" value="登录"/>
									<div class="clearfix"></div>
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


{include file="index/footer" /}
