
<div class="row">
	{volist name="table" id="vo"}
		<div class="col-md-4">
			<a href="{:url('index/order/setTableNum',['tableId'=>$vo.tableId,'waiterId'=>$Think.session.userId])}" onclick="return confirm('您确定要选择这张桌子吗?')">
				<div class="card">
					<div class="card-header card-chart" data-background-color="green">
						<div class="ct-chart" id="dailySalesChart"></div>
					</div>
					<div class="card-content">
						<h4 class="title">{$vo.tableId}  号桌</h4>
						<p class="category"><span class="text-success">空桌</span></p>
					</div>
				</div>
			</a>
		</div>
	{/volist}
</div>


<!--<script>-->
    <!--function disp_confirm(TableId,waiterId) {-->
<!--//		return alert(TableId+'-&#45;&#45;'+waiterId);-->
        <!--var r = confirm('你确定要选择这张桌子吗？');-->
        <!--if (r == true)-->
        <!--{-->

            <!--result = tCheck(TableId,waiterId);-->
            <!--if (result){-->

            <!--}else{-->

            <!--}-->
        <!--} else {}-->
    <!--}-->
    <!--function tCheck(TableId,waiterId){-->

        <!--var xmlhttp;-->

        <!--xmlhttp=new XMLHttpRequest();-->

        <!--xmlhttp.onreadystatechange=function()-->
        <!--{-->

            <!--if (xmlhttp.readyState==4 && xmlhttp.status==200)-->
            <!--{-->

                <!--if (xmlhttp.responseText == 1){-->
                    <!--alert("选择成功");-->
<!--//                    window.location.reload();-->
                    <!--return true;-->
                <!--}else if (xmlhttp.responseText == 2) {-->
                    <!--alert("选择失败");-->
                    <!--return false;-->
                <!--}-->
            <!--}-->
        <!--}-->

        <!--xmlhttp.open("GET","/index/order/setTableNum?tableId="+TableId+"&waiterId="+waiterId,true);-->
        <!--xmlhttp.send();-->
    <!--}-->
<!--</script>-->
<!--/index/order/setTableNum?tableId="+TableId-->